@charset "UTF-8";

@font-face {
    font-family: "Android";
    src: url(arquivos/fonts/idroid.otf);
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

header {
    background-image: linear-gradient(to top, #0b440b, #59a143);
    padding: 1px;
}

.titulo-cabecalho,
.texto-cabecalho {
    text-align: center;
    color: #fff;
}

nav > a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
    margin: 2px;
}

main {
    background-color: white;
    padding: 20px;
    margin: 0px 30px 0px 30px;
}

.fonte-android {
    font-family: "Android";
}

.background-verde {
    background-image: linear-gradient(to right, #88ff98, 40%, #88ff9836);
}

.link-um {
    text-decoration: none;
    color: #155a00;
    font-weight: bold;
}

.link-dois {
    text-decoration: none;
    color: #004b00;
    background-color: #c2ffaf;
    font-weight: bold;
}

.link-dois::after {
    content: '🔗';
}

.texto {
    text-indent: 20px;
    font-size: 1.15em;
}